<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			{% for category, message in messages %}
				<div class="alert alert-{{ category }}">{{ message }}</div>
			{% endfor %}
		{% endif %}
	{% endwith %}

    <form action="" method="post">
        <p>
	    <label for="email">Email</label>
	    <input type="text" name="email">
	</p>
	<p>
	    <label for="password">Password</label>
	    <input type="password" name="password">
	</p>
	<p>
	    <input type="submit">
	</p>
    </form>

	{% if message %}
        <p>{{ message }}</p>
    {% endif %}

	<a href="/">Go back</a>

</body>
</html>